body {
  overflow-y: hidden;
  font-family: "Special Elite", cursive;
  text-align: center;
  background-image: url(https://res.cloudinary.com/dqvimfd8b/image/upload/o_80/v1570734567/strident/app/background.jpg);
  background-image: url(https://res.cloudinary.com/dqvimfd8b/image/upload/o_80/v1571164112/strident/app/background_ng.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

a {
  text-decoration: none;
}

.image-gallery-right-nav, .image-gallery-left-nav, .image-gallery-play-button, .image-gallery-fullscreen-button {
  background-color: transparent !important;
}